<div class="block notice">
  <h3>Tasks</h3>
  <ul class="navigation">
    <li><a href="#">All</a></li>
    <li><a href="#">Starred</a></li>
    <li><a href="#">Asigned</a></li>
  </ul>
</div>

<div class="block notice">
  <h3>By project</h3>
  <ul class="navigation">
    <li><a href="#">...</a></li>
  </ul>
</div>
