<li class="single_task_wrapper" id="task_id_<%= task.id %>">
  <div class="checkbox_left">
    <%= check_box_tag :id, task.id %>
  </div>
  <div class="task_title">
    <%= task.title %>
  </div>
</li>