<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t(".all_tickets", :default => "All tickets")}", project_tickets_path(@project)  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_project_ticket_path(@project) %></li>
    </ul>
  </div>          
  <div class="content">          
    <div class="inner">
      

        <% @tickets.each do |ticket| -%>
        	<%= render :partial=>"list_single_ticket", :locals=>{:ticket=>ticket} %>
        <% end -%>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'index_sidebar') -%>
